*{
    padding: 0ch;
    margin: 0cm;
    font-family: DFKai-sb;
}


.box{
    width: 100%;
    height: 15%;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
    position:relative;
    color: white;
}

.box::before{
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background: url(./Ufv1Otg1U5_small.jpg) fixed center / contain;
    z-index: -1;
    opacity: .5;

}
#title{
    -webkit-text-stroke: 2px rgb(0, 0, 0);
  /* -webkit-text-fill-color: transparent; */
    font-size: 70px;
    z-index: 5;
    text-shadow: #3943B7 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu{
   background-color: #3943B7;
   float: left;
   width: 100%;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  position:relative;
  margin: 0ch;
}
.nav{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-around;
    /* position: relative; */
}

a{
    color: white;
    text-decoration: none;
}

li :hover{
    color: #3943B7;
    font-weight: bolder;

}

.shape{
    cursor: pointer;
    width: 110%;
    background-color: transparent;
    border: 2px  #32f8ff;
    border-style:solid;
    box-sizing: border-box;
    transition: all 0.3s linear;
    border-radius: 30px;
}

.shape:hover{
    background-color: #26ffed;
}

.run{
    height: 50px;
    width: 100%;
    font-size: 0.8cm;
    color: red;
    position:relative;

}
.imgstyle{
  padding: 0px;
  width:700px;
  height: 560px; 
  overflow:hidden;
  margin: auto;
}

.pop{
position:absolute;
z-index: 10;
top: 540px;
width: 220px;
left: 300px;
transform: rotate(-10deg);
}

.pop2{
  position:absolute;
  z-index: 10;
  top: 237px;
  width: 200px;
  right: 320px;
  transform: rotate(15deg);
  }

.imgs{
  float: left;
  padding: 0px;
}

.list{
    /* float: left; */
    display: flex;
    position: relative;
    margin-top:40%;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

#id{
width: 500px;
height: auto;
}


.rigth{
    float: right;
    display: flex;
    width: 36%;
    height: 1000px;
    position: relative;
    padding-top: 50px;
}

.all{
    float: left;
    display: flex;
    width: 100%;
    height: 40px;
    overflow: hidden;
    bottom: 0;
    position:relative;
    background-color: #3943B7;
}


.index{
    display: flex;
    float: left;
    height: 1000px;
    position:relative;
    width: 60%;
    /* background-color: aliceblue; */
    padding-top: 50px;
    padding-left: 50px;
}

table thead th:first-child {
    border-radius: 100px;
    border: 2px solid #3943B7;
    background-color: white;
  }
  
  th{
    border: 2px solid #3943B7;
  }

  .link{
        
  }

 .link a{
    color: #3943B7;
  }

  td{
    border: 2px solid #3943B7;
  }

  table thead th:hover {
    background-color: #3943B7;
    color: rgb(255, 255, 255);
  }

  table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
  }
  
  table tbody tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
  }

  table tbody tr:first-child td:first-child {
    border-radius:5px 0 0 0 ;
  }

  table tbody tr:first-child td:last-child {
    border-radius: 0 5px 0 0 ;
  }


  @import url(http://fonts.googleapis.com/css?family=Montserrat);


  .cssload-loading {
    text-align:center;
    margin: 10px auto;
    color: rgb(255, 255, 255);
    font: size 20px;
    font-family: "Montserrat", sans-serif;
    animation: cssload-breathe 5s ease infinite;
  
  }
  
  @keyframes cssload-breathe {
    0% {
      letter-spacing: 0;
      text-shadow: 0 0 1px white;
    }
    30% {
      color: transparent;
    }
    50% {
      letter-spacing: 50px;
      font-size: 0;
      text-shadow: 0 0 6px white;
    }
    60% {
      color: transparent;
    }
    100% {
      letter-spacing: 0;
      text-shadow: 0 0 1px white;
    }
  }


  .over{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    animation-duration: 4s;
    animation-name: over ;
    z-index: 1000;
    animation-fill-mode: forwards;
    
  }
  @keyframes over{
    0%{
        opacity: 1;
    }
    80%{
      opacity: 0.8;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
  }
  
  .cssload-spinner {
    position: absolute;
    width: 106px;
    height: 106px;
    left: 50%;
    top: 50%;
    margin-top: -53px;
    margin-left: -53px;
    z-index: 1000;
  }
  .cssload-spinner:after, .cssload-spinner:before {
    position: absolute;
    content: "";
    border: 6px solid rgb(92, 0, 184);
    width: 100px;
    height: 100px;
  }
  .cssload-spinner:after {
    animation: cssload-spinner1 4s linear infinite;
  }
  .cssload-spinner:before {
    width: 138px;
    height: 138px;
    margin-left: -20.5px;
    margin-top: -20.5px;
    animation: cssload-spinner2 4s linear infinite;
  }
  
  
  
  @keyframes cssload-spinner1 {
    0% {
      transform: rotate(0deg);
      border-color: #3943B7;
      z-index: 1000;
    }
    50% {
      border-color: rgb(102, 230, 255);
    }
    100%{
      border-color: #3943B7;
      transform: rotate(360deg);
      z-index: -1;
    }
  }
  
  @keyframes cssload-spinner2 {
    0% {
      transform: rotate(0deg);
      border-color: rgb(102, 230, 255);
      z-index: 1000;
    }
    50% {
      border-color: #3943B7;
    }
    100%{
      border-color:rgb(102, 230, 255);
      transform: rotate(-360deg);
      z-index: -1;
    }
  }

  .fontstyle{
    font-family: DFKai-sb;
}